

h1 {
  font-family: "Inter Tight", Sans-serif;
  padding-top:10px;
  font-weight: 400;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.texto-gradiante
 {
    background: linear-gradient(45deg, #C8D2F6, #517BD4);
    background: -webkit-linear-gradient(45deg, #C8D2F6, #517BD4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Inter Tight", Sans-serif;
  font-weight: 400;
  font-size: 16px;
  
}

